
#wrapper{
float:left;
width:100%;
font-family: Comic Sans MS, sans-serif;
}

.categories {
float:left;
width: 90%;
margin-left:5%;
}
.box{
width:18%;
float:left;
margin-right:2%;
margin-top:5%;
}

.block {
float:left;
width:100%;
box-sizing:border-box;
border: 1px solid silver;
border-radius: 5px;
min-height:200px;
min-width:200px;
max-height:200px;
max-width:200px;

}

