.wc-feedback {
   /* height: 35px;*/
    border: 1px solid #cecece;
    margin-bottom: 5px;
   /* line-height: 35px;*/
    padding: 0 0 0 10px;
}
.wc-feedback-box {
    height: 500px;
    width:900px;
    max-width:100%;
    min-width:30%;
    max-height:300px;
    min-height:100px;
    overflow: auto;
}

.wc-feedback img {
    height: 32px;
    width: 32px;
}

.wc-feedback-author{
margin-left:5px;
}

.wc-feedback-text{
margin-left:5px;
}

.input-feedback {

    display:flex;
    bottom: 0;
    left: 0;
}

.input-feedback input {
    margin-right: 50px;

}



