.wc-feedback {
   /* height: 35px;*/
    border: 1px solid #cecece;
    margin-bottom: 5px;
   /* line-height: 35px;*/
    padding: 0 0 0 10px;
}

.input-feedback {
    display: flex;
}

.input-feedback input {
    margin-right: 10px;
}
.wc-feedback-box {
    height: 500px;
    overflow: auto;
}

.wc-feedback img {
    height: 32px;
    width: 32px;
}