html{
/*background:url(../images/html/background.jpg);*/

}

*{
margin:0;
padding:0;
}

html{height:100%;}
body {
/*background-color:rgba(255,255,255,0.2);*/
width:100%
color: #333
font-size: 1em;
font-family: "Segoe UI",sans-serif;
background: #f7f7f7;
line-height:135%;
}

#menu{
color:#666;
font-family: Comic Sans MS, sans-serif;
font-size:1.7em;
margin-top:10px;
}

#menu hr{
width:500px;
max-width:100%;
margin-top:10px;
margin-bottom:10px;
}

.content {
    padding-top:5%;
    display: flex;
    justify-content: center;

    height:80%;
    font-family: Comic Sans MS, sans-serif;
}

.content .fb{
color:#666;
justify-content: center;
align-items: center;
}

a{
color: green;
text-decoration: none;
transition: all.6s. ease;
-moz-transition: all.6s. ease;
-webkit-transition: all.6s. ease;
-ms-transition: all.6s. ease;
}

a:hover{
color: #8b9ff5;
text-decoration: none;
transition: all.6s. ease;
-moz-transition: all.6s. ease;
-webkit-transition: all.6s. ease;
-ms-transition: all.6s. ease;
}

a:active{color:#8ce4a6;}

hr{
display:block;
border:0;
height:1px;
border-top: 1px solid #ccc;
padding:0;
}

img{
max-width: 100%
height: auto:
width: auto\9;
}
.left{float:left;}
.right{float:right;}
.bottom{float:bottom;}
.clear{clear:both;}

header, footer {
width :100%;
background:#fff;
}

header{
border-bottom:2px solid silver;
padding: 1%;
}

#logo{
font-size:2em;
font-family: Comic Sans MS, sans-serif;
color:green;
}

#logo:hover{
color: #8b9ff5;
text-decoration: none;
transition: all.6s. ease;
-moz-transition: all.6s. ease;
-webkit-transition: all.6s. ease;
-ms-transition: all.6s. ease;
}

.contact{
font-size:1.5em;
font-family: Comic Sans MS, sans-serif;
margin-left:10px;
}

footer{
padding: 1%;
border-top:2px solid silver;
margin-top: 10px;
padding-bottom: 3%;
position: absolute;
bottom: 0;
left: 0;
}

#page-wrap:after{
content: "";
display:block;
}

footer, #page-wrap:after{height:10px}

#page-wrap{
margin-bottom: -10px;
}

.rights{
margin-left:15px;
}


