<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="images/html/apple.ico" type="image/x-icon"/>
<link rel="icon" href="images/html/apple.ico" type="image/x-icon"/>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=UTF-8/>
    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/cabinet.css" th:href="@{/css/cabinet.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/image.js}" src="../static/js/image.js"></script>
    <title>Интернет магазин</title>
</head>
<body>
<header>
    <a href="/categories" title="На главную" id="logo">GREEN-LIFE</a><span class="contact"><a href="/about"
                                                                                              title="Информация о нас">О нас</a></span>
    <span class="contact"><a href="/categories" title="Категории товаров">Категории</a></span>
    <span class="contact"><a href="/cabinet" title="Личный кабинет">Кабинет</a></span>
    <span class="right"><span class="contact"><a href="/registration" title="Регистрация">Регистрация</a></span>
        <span class="contact"><a href="/logout" title="Выход из системы">Выход</a></span></span>
</header>
<center>
    <div id="menu">Личный кабинет
        <hr/>
    </div>
</center>
<div id="container">
    <div class="personnel">
        <h3>Аватар</h3>
        <img class="image" id="image-viewer">
        <div id="form">
            <input type="file" class="form-img" id="image-input" accept="image/*" data-max/>
            <input type="hidden" class="form-img" id="image-input-data"/>
        </div>
        <div>
            <button class="button" id="image-submit">Загрузить</button>
        </div>
    </div>
    <div class ="personnel">
        <div><h3>Личные&nbspданные</h3><hr/></div>
        <div th:text="@{'Логин: ' + ${user.login}}"></div>
        <div th:text="@{'Имя: ' + ${user.firstName}}"></div>
        <div th:text="@{'Фамилия: ' + ${user_details.lastName}}"></div>
        <div th:text="@{'Адрес: ' + ${user.address}}"></div>
        <div th:text="@{'Возраст: ' + ${user.age}}"></div>
    </div>

</div>
<footer>
    <span class="rights">Все права защищены &copy; 2019</span>
</footer>
</body>
</html>