<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/category.css" th:href="@{/css/category.css}" rel="stylesheet" />
    <link href="../static/css/category-by-id.css" th:href="@{/css/category-by-id.css}" rel="stylesheet" />

</head>

<body>

<div class="content">

    <div class="wc-categories">
        <!--<h2>Category ${category.name}</h2>-->
        <h2 th:text="@{'Category: ' + ${category.name}}"></h2>

        <div class="wc-item">
            <div th:each="item : ${items}" class="wc-item-block">
                <a th:href="@{'/items/' + ${item.id}}" th:text="${item.name}"></a>
            </div>
        </div>

    </div>

</div>

</body>

</html>