<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/item.css" th:href="@{/css/item.css}" rel="stylesheet"/>
    <link href="../static/css/item-by-id.css" th:href="@{/css/item-by-id.css}" rel="stylesheet"/>
    <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/shop/shop.js}" src="../static/js/shop/shop.js"></script>

</head>

<body>

<div class="content">

    <div class="wc-items">
        <!--<h2>Item ${item.name}</h2>-->
        <h2 id="item-header" th:item-id="${item.id}" th:text="@{'Item: ' + ${item.name}}"></h2>

        <div id="feedback-box" class="wc-feedback-box">
            <div th:each="feedback : ${feedbacks}" class="wc-feedback">
                <div>
                    <img th:src="${feedback.user.avatar}" >
                    <div class="wc-feedback-author" th:text="${feedback.user.name}"></div>
                </div>
                <div th:text="${feedback.text}"></div>
            </div>
        </div>

        <div class="input-feedback">
            <input class="form-control" id="feedback">
            <button class="btn btn-outline-primary" id="send-button">
                Send
            </button>
        </div>

        </div>

    </div>

</body>

</html>