<html>
<head>
    <meta charset="UTF-8">
    <title>LoginPageError</title>
    <style>
          body {background-color: #c7b39b;}
          h4.color
          {
	             color: red;
          }
    </style>
</head>
<body>
<h4  align="left" class="color">Вы ввели неверный пароль, введите еще раз</h4>
<form action="/login" method="post">
    <label for="login">Login</label>
    <input id="login" name="login" />
    <label for="password">Password</label>
    <input id="password" type="password" name="password" />
    <button type="submit" >Login</button>
</form>

</body>
</html>